AddDefaultCharset UTF-8

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

php_value display_errors 1
php_value display_startup_errors 1
php_value error_reporting E_ALL