* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    /*animation: gradient 10s ease infinite;*/
    background: #fff;
    background-size: 400% 400%;
    height: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
/*@media screen and (height: 100%){*/
/*    body {*/
/*        height: 200vh;*/
/*    }*/
/*}*/
@keyframes gradient {
    0% {
        background-position: 50% 1%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 1%;
    }
}
#re-btn {
    display: none;
}
button {
    background: rgba(234, 252, 252, 0.3);
    cursor: pointer;
    font-size: 1em;
    font-family: inherit;
    outline: none;
    padding: .3em .6em;
    margin: .5em .5em .5em 0;
    border: dimgrey 1px solid;
    border-radius: .5em;
    white-space: nowrap;
}
button:last-of-type {
    margin-right: 0;
}
button:hover,
button:focus {
    border-color: rgb(144, 152, 161);
    box-shadow: 0 -14px 7px -12px #fddae0 inset;
    outline: 0;
}

#game {
    font-size: 24px;
    margin: auto;
    width: 300px;
    box-sizing: content-box;

}
@media screen and (max-width: 400px){
    #game {
        width: 100%;
        padding: .5em;
        box-sizing: border-box;
    }

}
#board {
    align-items: center;
    background: radial-gradient( #76b852, #8dc26f);
    border: #282828 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
    height: 250px;
    /*width: 100%;*/
    padding: .5rem;
    box-sizing: border-box;
}
#score {
    display: flex;
    justify-content: space-between;
}
.result-block {
    margin-top: 3%;
    /*max-height: 100px;*/
    /*overflow-y: auto;*/
    /*scroll-behavior: smooth;*/
}
.result-block>div.result {
    opacity: 0;
}
.result-block>div.result {
    animation: showBlock 1s linear forwards;
    font-size: 14px;
}
@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.green {
    color: green;
}
.red {
    color: red;
}
.hide {
    display: none;
    transition: all 1s;
}
#rate-list {
    list-style: none;
    display: flex;
}
#rate-list button {
    margin-right: 0;
}
#rate-list li {
    margin-right: .5rem;
}
#rate-list li:last-of-type {
    margin-right: 0;
}
.rate-popup {
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    box-shadow: #C0C0C0 0 0 1rem .5rem;
}
.rate-popup>div {
    text-align: center;
}
.not-founds {
    font-size: .7em;
    color: red;
}
.dealer-cards,
.player-cards {
    display: flex;
}
.card {
   width: 50px;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    opacity: 1;
}
.card + .card {
    margin-left: .5rem;
}


/*.card{*/
/*    border:1px solid #ccc;*/
/*    border-radius: 2px;*/
/*    background: #fff;*/
/*    color:#444;*/
/*    width: 150px;*/
/*    height:250px;*/
/*    margin: 10px;*/
/*    display: inline-block;*/
/*}*/
/*.top, .bottom{*/
/*    font-size:24px;*/
/*    padding: 10px;*/
/*}*/
/*.bottom{*/
/*    float: right;*/
/*}*/
/*.number, .icon{*/
/*    display: block;*/
/*}*/
/*.rotate{*/
/*    transform: rotate(180deg);*/
/*    -ms-transform: rotate(180deg); !* IE 9 *!*/
/*    -webkit-transform: rotate(180deg); !* Chrome, Safari, Opera *!*/
/*}*/
/*.lg_icon{*/
/*    font-size: 70px;*/
/*    text-align: center;*/
/*    display: block;*/
/*}*/
.fade-in {
    /*opacity:1;  !* make things invisible upon start *!*/
    /*-webkit-animation:fadeIn ease-in 1;  !* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time *!*/
    /*-moz-animation:fadeIn ease-in 1;*/
    /*animation:fadeIn ease-in 1;*/

    /*-webkit-animation-fill-mode:forwards;  !* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*!*/
    /*-moz-animation-fill-mode:forwards;*/
    /*animation-fill-mode:forwards;*/

    /*-webkit-animation-duration:1s;*/
    /*-moz-animation-duration:1s;*/
    /*animation-duration:1s;*/
}