* {
    margin: 0;
    padding: 0;
}
html,
body {
    /*animation: gradient 10s ease infinite;*/
    background: #fff;
    background-size: 400% 400%;
    height: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
/*@media screen and (height: 100%){*/
/*    body {*/
/*        height: 200vh;*/
/*    }*/
/*}*/
@keyframes gradient {
    0% {
        background-position: 50% 1%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 1%;
    }
}
#re-btn {
    display: none;
}
button {
    background: rgba(234, 252, 252, 0.3);
    cursor: pointer;
    font-size: 1em;
    font-family: inherit;
    outline: none;
    padding: .4em .8em;
    margin: .5em .5em .5em 0;
    border: dimgrey 1px solid;
    border-radius: .5em;
}
button:last-of-type {
    margin-right: 0;
}
button:hover,
button:focus {
    border-color: rgb(144, 152, 161);
    box-shadow: 0 -14px 7px -12px #fddae0 inset;
    outline: 0;
}

#game {
    font-size: 24px;
    margin: auto;
    width: 300px;
    padding: 15px;

}
#board {
    align-items: center;
    border: #282828 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
    height: 300px;
    width: 300px;
}
#score {
    display: flex;
    justify-content: space-between;
}
.result-block {
    margin-top: 3%;
    /*max-height: 100px;*/
    /*overflow-y: auto;*/
    /*scroll-behavior: smooth;*/
}
.result-block>div.result {
    opacity: 0;
}
.result-block>div.result {
    animation: showBlock 1s linear forwards;
    font-size: 14px;
}
@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.green {
    color: green;
}
.red {
    color: red;
}
.hide {
    display: none;
    transition: all 1s;
}
#rate-list {
    list-style: none;
    display: flex;
}
#rate-list button {
    margin-right: 0;
}
#rate-list li {
    margin-right: .5rem;
}
#rate-list li:last-of-type {
    margin-right: 0;
}
.rate-popup {
    box-sizing: border-box;
    position: fixed;
    top: 35vh;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    box-shadow: #C0C0C0 0 0 1rem .5rem;
}
.rate-popup>div {
    text-align: center;
}
.not-founds {
    font-size: .7em;
    color: red;
}