@font-face {
  font-family: ManropeExtraBold;
  src: url('../fonts/Manrope/static/Manrope-ExtraBold.ttf');
}
@font-face {
  font-family: Manrope;
  src: url('../fonts/Manrope/static/Manrope-Regular.ttf');
}
.i {
  position: absolute;
  left: 50%;
  transform: translate(50%, 0%);
  height: 100vh;
  width: 1px;
  background: #b20202;
  z-index: 10;
}
@media only screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
  }
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: #fff;
  background-size: 400% 400%;
  height: 100%;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
  background: radial-gradient(#61a242 50%, #365e24);
}
@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  html,
  body {
    font-size: 20px;
  }
}
form {
  width: 13rem;
}
input,
button {
  font-family: inherit;
  font-size: inherit;
  border-radius: 1.5em;
  padding: 0.5em 1em;
  margin: 0.5em 0.5em 0.5em 0;
  background: white;
  color: black;
  white-space: nowrap;
  border: none;
  user-select: none;
  text-decoration: none;
  outline: none;
  position: relative;
  display: inline-block;
}
button:last-of-type input[type='submit']:last-of-type {
  margin-right: 0;
}
input[type='text']:last-child {
  margin: 0;
}
input {
  width: 100%;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border: none;
}
input[type='text'] {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
input[type='submit'],
button {
  cursor: pointer;
}
input[type='text']:hover,
input[type='text']:focus {
  border: 1px solid #000000;
}
.form__nick {
  text-align: center;
}
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder,
input:focus::-webkit-input-placeholder,
input:focus::-moz-placeholder,
input:focus:-moz-placeholder,
input:focus:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.button__mod {
  font-weight: 700;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
  border: #d4d000 3px solid;
}
.button__mod:hover {
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
}
.button__mod:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0, 0, 0, 0.8), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}
.button__green {
  color: white;
  background: #0c9c0d;
  box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #9fff98, #3caa3c 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 2px 5px;
}
.button__red {
  color: white;
  background: #9c0c0c;
  box-shadow: inset #de2626 0 -1px 1px, inset 0 1px 1px #ff9898, #aa3c3c 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 2px 5px;
}
.button__blue {
  color: white;
  background: #0c4f9c;
  box-shadow: inset #2670de 0 -1px 1px, inset 0 1px 1px #98b9ff, #3c75aa 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 2px 5px;
}
.bild {
  position: absolute;
  color: #ccc;
  font-size: 0.6rem;
}
/* --- WRAPS --- */
#game {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center;
}
#board {
  align-items: center;
  text-align: center;
  min-height: 10rem;
  box-sizing: border-box;
}
/* --- CARDS --- */
.board__dealer,
.board__player {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.board__cards {
  display: flex;
  margin-left: 2.5rem;
  order: 1;
  height: 4rem;
}
.board__sum {
  align-self: start;
  order: 2;
  position: relative;
  right: 1rem;
  top: -0.5rem;
  background: #4b9b13;
  font-family: 'ManropeExtraBold', sans-serif;
  color: white;
  border: #3b592f 0.1rem solid;
  font-size: 0.75rem;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  height: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0 0 1rem 0 inset;
}
.board__message {
  position: relative;
  left: 0;
  right: 0;
  color: white;
  font-size: 1rem;
  height: 1.5rem;
  opacity: 0;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  margin-bottom: 1rem;
}
.animation__opacity {
  animation: opacity 5s ease-in-out forwards;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* --- PROFILE --- */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__rate {
  position: relative;
  margin-bottom: 0.7rem;
  border: #3c5737 0.1rem solid;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: end;
}
.profile__rate__text {
  position: absolute;
  font-weight: bolder;
  color: #00b400;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
  animation: upText 2.5s ease-in-out;
  z-index: 2;
}
.chip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: #ffd600 0.1rem dashed;
  font-size: 0.5em;
  width: 1.4rem;
  height: 1.4rem;
  color: white;
  user-select: none;
}
.chip-red {
  background: #b40000;
}
.chip-green {
  background: #00b400;
}
.chip-black {
  background: #000000;
}
.profile__avatar {
  box-sizing: content-box;
  border: #888888 0.05rem solid;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  margin-bottom: 0.1rem;
}
.profile__avatar img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.profile__balance {
  background: #1a1a1a;
  box-shadow: rgba(255, 255, 255, 0.2) 0 2px 4px 0 inset;
  width: 6rem;
  color: white;
  font-size: 1rem;
  padding: 0.2rem 0.2rem 0.2rem 1.6rem;
  border-radius: 1rem;
  position: relative;
  user-select: none;
}
.profile__currency {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: #ffd600 0.1rem dashed;
  top: 0.2rem;
  left: 0.2rem;
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  user-select: none;
}
.profile__name {
  color: white;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  user-select: none;
}
/* --- RESULT --- */
#result {
  padding: 0.7rem 1rem;
}
/* --- COLORS --- */
.hide {
  display: none;
  transition: all 1s;
}
.bold {
  font-weight: bolder;
}
.red {
  color: #d60101;
}
.green {
  color: #00b400;
}
.modal {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  margin: 0.5rem;
  background: white;
  border-radius: 0.5rem;
  box-shadow: #686868 0 0 1rem 0.3rem;
  z-index: 10;
  text-align: left;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.center {
  text-align: center;
  justify-content: center;
}
.not-founds {
  font-size: 1em;
  color: red;
}
/* --- RATE --- */
#rate-list {
  display: flex;
}
#rate-list button {
  position: relative;
  border-radius: 50%;
  font-size: 1rem;
  padding: 0;
  width: 4.5rem;
  height: 4.5rem;
  color: white;
}
#rate-list button:nth-child(1) {
  background: radial-gradient(#ff1154 20%, #b20202);
}
#rate-list button:nth-child(2) {
  background: radial-gradient(#2cbb15 20%, #0b6000);
}
#rate-list button:nth-child(3) {
  background: radial-gradient(#363636 20%, #000000);
}
@keyframes upText {
  0% {
    bottom: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: 30px;
    opacity: 0;
  }
}
.card + .card {
  margin-left: -1.8rem;
}
.card {
  position: relative;
  width: 3em;
  height: 4em;
  float: left;
  perspective: 800px;
}
.card__rank {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 0.9em;
}
.card__suits {
  font-size: 0.8rem;
  line-height: 0.9em;
}
.card__icon__lg {
  position: absolute;
  right: 0em;
  bottom: 0.1em;
  font-size: 2rem;
  line-height: 0.9em;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  transition: 0.75s 75s;
  backface-visibility: hidden;
}
.card__front {
  background: url(../images/front-card.png) no-repeat;
  z-index: 100;
}
.card__back {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  color: #444;
  padding: 0.1em;
  opacity: 0;
  z-index: 1;
  transform: rotateY(180deg);
}
.open .card__front {
  opacity: 0;
  transform: rotateY(-180deg);
}
.open .card__back {
  opacity: 1;
  transform: rotateY(0deg);
}
